{% extends "base.html" %}

{% block heading %}
    <h3 class="grey-text"> Login here</h3>
{% endblock heading %}

{% block content %}
<div class="row"> 
    <div class="col s4 center ">
    <span class="btn-floating btn-large scale-transition"><i class="material-icons">person_pin</i></span>
    <h4 class="grey-text">{ Django Africa }<h4>
        <br>
    </div>
    <div class="col s4">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button class="btn-floating btn-large pulse"> <i class="material-icons">person</i></a></button>
        </form>
        <div class="">
        <p class="grey-text">login using</p>
        <button class="btn">Github</button>
        <button class="btn">Stackoverflow</button>
        </div>
    </div>
    <div class="col s4 ">
        <br>
    </div>
</div>

{% endblock content %}


