<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Material css -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>Just login!</title>
  </head>
  <body>
  <nav>
    <div class="nav-wrapper pink darken-1">
      <a href="{% url 'home' %}" class="brand-logo"><i class="material-icons">person_pin</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'login' %}">login</a></li>
        <li><a href="badges.html">Signup</a></li>
        <li><a href="collapsible.html">About</a></li>
      </ul>
    </div>
  </nav>
  {% block heading %}
      <h1>Django-Africa demo for login!</h1>
  {% endblock heading %}

  {% block content %}
 
  {% endblock content %}
 

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
  </body>
</html>  
  